/**
 * Tags
 */

html {
    background: url(../img/fiber.jpg);
}

body {
	font-family: 'Josefin Sans', sans-serif;
}

h1 {
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	font-size: 112px;
	color: red;
}

h2 {
    color: gray;
    font-size: 25px;
}

a {
    font-size: 18px;
    font-weight: bold;
}


/**
 * Classes / IDs
 */

header {
        font-size: 30px;
        color: red;
        padding-top: 25px;
}

#strategies-for-interactive-and-immersive-dance, #clojurebridge-nyc-advanced-track-day-1 {
    font-size: 40px;
}

.pageContent {
    background: rgba(255,255,255,0.4);
    color: black;
}

    .pageContent h2 {
        text-decoration: underline;
    }

    .pageContent.subContent {
        border-left: 1px solid #f2d1cc;
        background: none;
    }

.logo img {
    display: block;
    margin: 0 auto;
}


/**
 * etc...
 */

video#bgvid {
	/* position: fixed; right: 0; bottom: 0; */
	/* min-width: 100%; min-height: 100%; */
	/* width: auto; height: auto; z-index: -100; */
	/* background: url(polina.jpg) no-repeat; */
	/* background-size: cover; */
}
